In [2]:
import numpy as np
import pandas as pd
import folium
from folium.plugins import HeatMap
import pandas as pd
from argparse import ArgumentParser
from tqdm import tqdm

In [3]:
chl_df = pd.read_csv('chl.csv')
chl_df["Time"] = pd.to_datetime(chl_df['Time'])
geometry = [list(map(float, x.split(','))) for x in chl_df.AOI]
lat = pd.Series([x[0] for x in geometry])
lon = pd.Series([x[1] for x in geometry])
chl_df['latitude'] = lat
chl_df['longitude'] = lon
chl_df['latitude']=pd.to_numeric(chl_df['latitude'])
chl_df['longitude']=pd.to_numeric(chl_df['longitude'])
chl_df['Measurement Value']=pd.to_numeric(chl_df['Measurement Value'])
chl_df = chl_df[chl_df['Measurement Value'].notna()]
chl_df.rename(columns = {'Measurement Value':'Chl_concentration'}, inplace = True)
chl_df = chl_df[['Time', 'Country', 'Region', 'Chl_concentration', 'latitude', 'longitude']]

In [4]:
chl_df

,Time,Country,Region,Chl_concentration,latitude,longitude
1,2019-01-11 12:40:00,IT,North Adriatic Sea,-43.211117,45.314247,12.508055
3,2019-01-25 12:20:00,IT,North Adriatic Sea,-27.113966,45.314247,12.508055
6,2019-02-15 12:40:00,IT,North Adriatic Sea,0.000000,45.314247,12.508055
7,2019-02-22 11:40:00,IT,North Adriatic Sea,-29.437669,45.314247,12.508055
8,2019-02-28 12:10:00,IT,North Adriatic Sea,56.445046,45.314247,12.508055
...,...,...,...,...,...,...
1333,2021-05-01 18:20:00,US,New York,22.262022,41.101700,-72.935000
1334,2021-05-08 18:20:00,US,New York,-11.593908,41.101700,-72.935000
1335,2021-05-15 18:20:00,US,New York,-23.235385,41.101700,-72.935000
1338,2021-06-05 18:20:00,US,New York,-27.664935,41.101700,-72.935000
1339,2021-06-12 18:20:00,US,New York,-7.542258,41.101700,-72.935000

In [5]:
venice_chl_df = chl_df.loc[chl_df['Country'] == "JP"]
venice_chl_df = venice_chl_df.reset_index(drop=True)
venice_chl_df

          Time Country     Region  Chl_concentration  latitude   longitude
0   2019-01-05      JP  Tokyo Bay              17.62     35.55  139.900000
1   2019-01-12      JP  Tokyo Bay             -17.19     35.55  139.900000
2   2019-01-19      JP  Tokyo Bay              69.90     35.55  139.900000
3   2019-01-26      JP  Tokyo Bay             115.04     35.55  139.900000
4   2019-02-02      JP  Tokyo Bay              37.20     35.55  139.900000
..         ...     ...        ...                ...       ...         ...
614 2021-04-17      JP  Tokyo Bay             -18.15     35.55  139.900001
615 2021-04-24      JP  Tokyo Bay               5.02     35.55  139.900001
616 2021-05-01      JP  Tokyo Bay             282.04     35.55  139.900001
617 2021-05-08      JP  Tokyo Bay              -4.78     35.55  139.900001
618 2021-05-29      JP  Tokyo Bay             -38.92     35.55  139.900001

[619 rows x 6 columns]

In [6]:
tsm_df = pd.read_csv('tokyo_TSM.csv')
tsm_df = tsm_df[['measurement', 'time']]
tsm_df["time"] = pd.to_datetime(tsm_df['time'])
tsm_df

    measurement                      time
0         64.45 2019-01-05 00:00:00+00:00
1         46.71 2019-01-12 00:00:00+00:00
2         31.07 2019-01-19 00:00:00+00:00
3         18.51 2019-01-26 00:00:00+00:00
4        -10.04 2019-02-02 00:00:00+00:00
..          ...                       ...
88       -18.15 2021-04-17 00:00:00+00:00
89         5.02 2021-04-24 00:00:00+00:00
90       282.04 2021-05-01 00:00:00+00:00
91        -4.78 2021-05-08 00:00:00+00:00
92       -38.92 2021-05-29 00:00:00+00:00

[93 rows x 2 columns]

In [7]:
chl_df = pd.read_csv('chl.csv')
chl_df["Time"] = pd.to_datetime(chl_df['Time'])
geometry = [list(map(float, x.split(','))) for x in chl_df.AOI]
lat = pd.Series([x[0] for x in geometry])
lon = pd.Series([x[1] for x in geometry])
chl_df['latitude'] = lat
chl_df['longitude'] = lon
chl_df['latitude']=pd.to_numeric(chl_df['latitude'])
chl_df['longitude']=pd.to_numeric(chl_df['longitude'])
chl_df['Measurement Value']=pd.to_numeric(chl_df['Measurement Value'])
chl_df = chl_df[chl_df['Measurement Value'].notna()]
chl_df.rename(columns = {'Measurement Value':'Chl_concentration'}, inplace = True)
chl_df = chl_df[['Time', 'Country', 'Region', 'Chl_concentration', 'latitude', 'longitude', 'City']]
tokyo = chl_df.loc[chl_df['Country'] == "US"]
tokyo

,Time,Country,Region,Chl_concentration,latitude,longitude,City
1091,2019-01-04 17:30:00,US,New York,23.400051,41.1017,-72.934,"New York, Chl-a"
1092,2019-01-11 17:35:00,US,New York,90.990949,41.1017,-72.934,"New York, Chl-a"
1094,2019-01-25 17:05:00,US,New York,13.861770,41.1017,-72.934,"New York, Chl-a"
1095,2019-02-01 17:10:00,US,New York,30.077899,41.1017,-72.934,"New York, Chl-a"
1096,2019-02-08 17:30:00,US,New York,20.209056,41.1017,-72.934,"New York, Chl-a"
...,...,...,...,...,...,...,...
1333,2021-05-01 18:20:00,US,New York,22.262022,41.1017,-72.935,"New York, TSM"
1334,2021-05-08 18:20:00,US,New York,-11.593908,41.1017,-72.935,"New York, TSM"
1335,2021-05-15 18:20:00,US,New York,-23.235385,41.1017,-72.935,"New York, TSM"
1338,2021-06-05 18:20:00,US,New York,-27.664935,41.1017,-72.935,"New York, TSM"
1339,2021-06-12 18:20:00,US,New York,-7.542258,41.1017,-72.935,"New York, TSM"

In [9]:
tokyo = chl_df.loc[chl_df['Country'] == "US"]
tokyo

,Time,Country,Region,Chl_concentration,latitude,longitude,City
1091,2019-01-04 17:30:00,US,New York,23.400051,41.1017,-72.934,"New York, Chl-a"
1092,2019-01-11 17:35:00,US,New York,90.990949,41.1017,-72.934,"New York, Chl-a"
1094,2019-01-25 17:05:00,US,New York,13.861770,41.1017,-72.934,"New York, Chl-a"
1095,2019-02-01 17:10:00,US,New York,30.077899,41.1017,-72.934,"New York, Chl-a"
1096,2019-02-08 17:30:00,US,New York,20.209056,41.1017,-72.934,"New York, Chl-a"
...,...,...,...,...,...,...,...
1333,2021-05-01 18:20:00,US,New York,22.262022,41.1017,-72.935,"New York, TSM"
1334,2021-05-08 18:20:00,US,New York,-11.593908,41.1017,-72.935,"New York, TSM"
1335,2021-05-15 18:20:00,US,New York,-23.235385,41.1017,-72.935,"New York, TSM"
1338,2021-06-05 18:20:00,US,New York,-27.664935,41.1017,-72.935,"New York, TSM"
1339,2021-06-12 18:20:00,US,New York,-7.542258,41.1017,-72.935,"New York, TSM"

In [27]:
covid_cases = pd.read_csv('time_series_covid19_confirmed_global.csv')
wanted_dates = tokyo["Time"].tolist()

In [43]:
covid_cases = covid_cases.loc[covid_cases['Country/Region'] == "Japan"]
covid_cases
del covid_cases['Province/State']
del covid_cases['Country/Region']
del covid_cases['Lat']
del covid_cases['Long']
# covid_cases.columns = pd.to_datetime(covid_cases.columns)

SyntaxError: can't delete literal (<ipython-input-43-9b32871b3d74>, line 3)

In [35]:
from pprint import pprint
covid_dates = [col for col in covid_cases.columns ]
pprint(wanted_dates)
pprint(covid_dates)

[Timestamp('2019-01-04 17:30:00'),
 Timestamp('2019-01-11 17:35:00'),
 Timestamp('2019-01-25 17:05:00'),
 Timestamp('2019-02-01 17:10:00'),
 Timestamp('2019-02-08 17:30:00'),
 Timestamp('2019-02-15 17:25:00'),
 Timestamp('2019-02-22 17:00:00'),
 Timestamp('2019-02-28 17:35:00'),
 Timestamp('2019-03-07 17:40:00'),
 Timestamp('2019-03-14 17:50:00'),
 Timestamp('2019-03-21 17:55:00'),
 Timestamp('2019-03-28 18:00:00'),
 Timestamp('2019-04-04 18:05:00'),
 Timestamp('2019-04-11 18:10:00'),
 Timestamp('2019-04-18 18:20:00'),
 Timestamp('2019-04-25 18:25:00'),
 Timestamp('2019-05-09 17:55:00'),
 Timestamp('2019-05-16 17:30:00'),
 Timestamp('2019-05-23 18:05:00'),
 Timestamp('2019-05-30 17:15:00'),
 Timestamp('2019-06-06 17:25:00'),
 Timestamp('2019-06-13 17:30:00'),
 Timestamp('2019-06-27 17:40:00'),
 Timestamp('2019-07-04 18:00:00'),
 Timestamp('2019-07-11 17:55:00'),
 Timestamp('2019-07-18 18:00:00'),
 Timestamp('2019-07-25 18:05:00'),
 Timestamp('2019-08-01 18:10:00'),
 Timestamp('2019-08-08 17:35:00'),
 Timestamp('2019-08-15 18:25:00'),
 Timestamp('2019-08-22 18:30:00'),
 Timestamp('2019-08-29 17:55:00'),
 Timestamp('2019-09-05 17:15:00'),
 Timestamp('2019-09-12 17:10:00'),
 Timestamp('2019-09-19 17:15:00'),
 Timestamp('2019-09-26 17:25:00'),
 Timestamp('2019-10-02 17:30:00'),
 Timestamp('2019-10-17 17:40:00'),
 Timestamp('2019-10-24 17:05:00'),
 Timestamp('2019-11-01 17:55:00'),
 Timestamp('2019-11-07 18:00:00'),
 Timestamp('2019-11-14 18:05:00'),
 Timestamp('2019-11-21 17:30:00'),
 Timestamp('2019-11-28 18:15:00'),
 Timestamp('2019-12-19 18:05:00'),
 Timestamp('2019-12-26 17:45:00'),
 Timestamp('2020-01-11 17:05:00'),
 Timestamp('2020-01-18 18:20:00'),
 Timestamp('2020-01-25 18:10:00'),
 Timestamp('2020-02-01 17:25:00'),
 Timestamp('2020-02-15 18:30:00'),
 Timestamp('2020-02-22 17:40:00'),
 Timestamp('2020-02-29 18:10:00'),
 Timestamp('2020-03-07 18:05:00'),
 Timestamp('2020-03-14 17:15:00'),
 Timestamp('2020-03-21 17:25:00'),
 Timestamp('2020-03-28 18:25:00'),
 Timestamp('2020-04-04 17:35:00'),
 Timestamp('2020-04-18 18:10:00'),
 Timestamp('2020-04-25 17:10:00'),
 Timestamp('2020-05-09 17:25:00'),
 Timestamp('2020-05-16 18:10:00'),
 Timestamp('2020-05-23 18:20:00'),
 Timestamp('2020-05-30 18:25:00'),
 Timestamp('2020-06-06 18:30:00'),
 Timestamp('2020-06-13 17:00:00'),
 Timestamp('2020-06-20 17:05:00'),
 Timestamp('2020-06-27 17:10:00'),
 Timestamp('2020-07-04 17:15:00'),
 Timestamp('2020-07-11 17:20:00'),
 Timestamp('2020-07-18 17:30:00'),
 Timestamp('2020-07-25 17:35:00'),
 Timestamp('2020-08-01 17:40:00'),
 Timestamp('2020-08-08 17:45:00'),
 Timestamp('2020-08-15 17:55:00'),
 Timestamp('2020-09-05 18:10:00'),
 Timestamp('2020-09-12 18:15:00'),
 Timestamp('2020-09-19 18:25:00'),
 Timestamp('2020-09-26 18:30:00'),
 Timestamp('2020-10-02 17:55:00'),
 Timestamp('2020-10-10 17:05:00'),
 Timestamp('2020-10-17 18:05:00'),
 Timestamp('2020-10-24 18:10:00'),
 Timestamp('2020-11-01 17:20:00'),
 Timestamp('2020-11-07 17:30:00'),
 Timestamp('2020-11-21 17:00:00'),
 Timestamp('2020-11-28 17:05:00'),
 Timestamp('2020-12-05 17:55:00'),
 Timestamp('2020-12-12 18:00:00'),
 Timestamp('2020-12-26 17:30:00'),
 Timestamp('2021-01-02 17:55:00'),
 Timestamp('2021-01-09 17:55:00'),
 Timestamp('2021-01-16 18:20:00'),
 Timestamp('2021-01-23 18:20:00'),
 Timestamp('2021-01-30 18:20:00'),
 Timestamp('2021-02-06 18:20:00'),
 Timestamp('2021-02-20 18:20:00'),
 Timestamp('2021-02-27 18:20:00'),
 Timestamp('2021-03-06 18:20:00'),
 Timestamp('2021-03-13 18:20:00'),
 Timestamp('2021-03-20 18:20:00'),
 Timestamp('2021-03-27 18:20:00'),
 Timestamp('2021-04-03 18:20:00'),
 Timestamp('2021-04-10 18:20:00'),
 Timestamp('2021-04-17 18:20:00'),
 Timestamp('2021-04-24 18:20:00'),
 Timestamp('2021-05-01 18:20:00'),
 Timestamp('2021-05-08 18:20:00'),
 Timestamp('2021-05-15 18:20:00'),
 Timestamp('2021-06-05 18:20:00'),
 Timestamp('2021-06-12 18:20:00'),
 Timestamp('2019-01-04 17:30:00'),
 Timestamp('2019-01-11 17:35:00'),
 Timestamp('2019-01-25 17:05:00'),
 Timestamp('2019-02-01 17:10:00'),
 Timestamp('2019-02-08 17:30:00'),
 Timestamp('2019-02-15 17:25:00'),
 Timestamp('2019-02-22 17:00:00'),
 Timestamp('2019-02-28 17:35:00'),
 Timestamp('2019-03-07 17:40:00'),
 Timestamp('2019-03-14 17:50:00'),
 Timestamp('2019-03-21 17:55:00'),
 Timestamp('2019-03-28 18:00:00'),
 Timestamp('2019-04-04 18:05:00'),
 Timestamp('2019-04-11 18:10:00'),
 Timestamp('2019-04-18 18:20:00'),
 Timestamp('2019-04-25 18:25:00'),
 Timestamp('2019-05-09 17:55:00'),
 Timestamp('2019-05-16 17:30:00'),
 Timestamp('2019-05-23 18:05:00'),
 Timestamp('2019-05-30 17:15:00'),
 Timestamp('2019-06-06 17:25:00'),
 Timestamp('2019-06-13 17:30:00'),
 Timestamp('2019-06-27 17:40:00'),
 Timestamp('2019-07-04 18:00:00'),
 Timestamp('2019-07-11 17:55:00'),
 Timestamp('2019-07-18 18:00:00'),
 Timestamp('2019-07-25 18:05:00'),
 Timestamp('2019-08-01 18:10:00'),
 Timestamp('2019-08-08 17:35:00'),
 Timestamp('2019-08-15 18:25:00'),
 Timestamp('2019-08-22 18:30:00'),
 Timestamp('2019-08-29 17:55:00'),
 Timestamp('2019-09-05 17:15:00'),
 Timestamp('2019-09-12 17:10:00'),
 Timestamp('2019-09-19 17:15:00'),
 Timestamp('2019-09-26 17:25:00'),
 Timestamp('2019-10-02 17:30:00'),
 Timestamp('2019-10-17 17:40:00'),
 Timestamp('2019-10-24 17:05:00'),
 Timestamp('2019-11-01 17:55:00'),
 Timestamp('2019-11-07 18:00:00'),
 Timestamp('2019-11-14 18:05:00'),
 Timestamp('2019-11-21 17:30:00'),
 Timestamp('2019-11-28 18:15:00'),
 Timestamp('2019-12-19 18:05:00'),
 Timestamp('2019-12-26 17:45:00'),
 Timestamp('2020-01-11 17:05:00'),
 Timestamp('2020-01-18 18:20:00'),
 Timestamp('2020-01-25 18:10:00'),
 Timestamp('2020-02-01 17:25:00'),
 Timestamp('2020-02-15 18:30:00'),
 Timestamp('2020-02-22 17:40:00'),
 Timestamp('2020-02-29 18:10:00'),
 Timestamp('2020-03-07 18:05:00'),
 Timestamp('2020-03-14 17:15:00'),
 Timestamp('2020-03-21 17:25:00'),
 Timestamp('2020-03-28 18:25:00'),
 Timestamp('2020-04-04 17:35:00'),
 Timestamp('2020-04-18 18:10:00'),
 Timestamp('2020-04-25 17:10:00'),
 Timestamp('2020-05-09 17:25:00'),
 Timestamp('2020-05-16 18:10:00'),
 Timestamp('2020-05-23 18:20:00'),
 Timestamp('2020-05-30 18:25:00'),
 Timestamp('2020-06-06 18:30:00'),
 Timestamp('2020-06-13 17:00:00'),
 Timestamp('2020-06-20 17:05:00'),
 Timestamp('2020-06-27 17:10:00'),
 Timestamp('2020-07-04 17:15:00'),
 Timestamp('2020-07-11 17:20:00'),
 Timestamp('2020-07-18 17:30:00'),
 Timestamp('2020-07-25 17:35:00'),
 Timestamp('2020-08-01 17:40:00'),
 Timestamp('2020-08-08 17:45:00'),
 Timestamp('2020-08-15 17:55:00'),
 Timestamp('2020-09-05 18:10:00'),
 Timestamp('2020-09-12 18:15:00'),
 Timestamp('2020-09-19 18:25:00'),
 Timestamp('2020-09-26 18:30:00'),
 Timestamp('2020-10-02 17:55:00'),
 Timestamp('2020-10-10 17:05:00'),
 Timestamp('2020-10-17 18:05:00'),
 Timestamp('2020-10-24 18:10:00'),
 Timestamp('2020-11-01 17:20:00'),
 Timestamp('2020-11-07 17:30:00'),
 Timestamp('2020-11-21 17:00:00'),
 Timestamp('2020-11-28 17:05:00'),
 Timestamp('2020-12-05 17:55:00'),
 Timestamp('2021-01-02 17:55:00'),
 Timestamp('2021-01-09 17:55:00'),
 Timestamp('2021-01-16 18:20:00'),
 Timestamp('2021-01-23 18:20:00'),
 Timestamp('2021-01-30 18:20:00'),
 Timestamp('2021-02-06 18:20:00'),
 Timestamp('2021-02-20 18:20:00'),
 Timestamp('2021-02-27 18:20:00'),
 Timestamp('2021-03-06 18:20:00'),
 Timestamp('2021-03-13 18:20:00'),
 Timestamp('2021-03-20 18:20:00'),
 Timestamp('2021-03-27 18:20:00'),
 Timestamp('2021-04-03 18:20:00'),
 Timestamp('2021-04-10 18:20:00'),
 Timestamp('2021-04-17 18:20:00'),
 Timestamp('2021-04-24 18:20:00'),
 Timestamp('2021-05-01 18:20:00'),
 Timestamp('2021-05-08 18:20:00'),
 Timestamp('2021-05-15 18:20:00'),
 Timestamp('2021-06-05 18:20:00'),
 Timestamp('2021-06-12 18:20:00')]
['Province/State',
 'Country/Region',
 'Lat',
 'Long',
 '1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 '4/10/20',
 '4/11/20',
 '4/12/20',
 '4/13/20',
 '4/14/20',
 '4/15/20',
 '4/16/20',
 '4/17/20',
 '4/18/20',
 '4/19/20',
 '4/20/20',
 '4/21/20',
 '4/22/20',
 '4/23/20',
 '4/24/20',
 '4/25/20',
 '4/26/20',
 '4/27/20',
 '4/28/20',
 '4/29/20',
 '4/30/20',
 '5/1/20',
 '5/2/20',
 '5/3/20',
 '5/4/20',
 '5/5/20',
 '5/6/20',
 '5/7/20',
 '5/8/20',
 '5/9/20',
 '5/10/20',
 '5/11/20',
 '5/12/20',
 '5/13/20',
 '5/14/20',
 '5/15/20',
 '5/16/20',
 '5/17/20',
 '5/18/20',
 '5/19/20',
 '5/20/20',
 '5/21/20',
 '5/22/20',
 '5/23/20',
 '5/24/20',
 '5/25/20',
 '5/26/20',
 '5/27/20',
 '5/28/20',
 '5/29/20',
 '5/30/20',
 '5/31/20',
 '6/1/20',
 '6/2/20',
 '6/3/20',
 '6/4/20',
 '6/5/20',
 '6/6/20',
 '6/7/20',
 '6/8/20',
 '6/9/20',
 '6/10/20',
 '6/11/20',
 '6/12/20',
 '6/13/20',
 '6/14/20',
 '6/15/20',
 '6/16/20',
 '6/17/20',
 '6/18/20',
 '6/19/20',
 '6/20/20',
 '6/21/20',
 '6/22/20',
 '6/23/20',
 '6/24/20',
 '6/25/20',
 '6/26/20',
 '6/27/20',
 '6/28/20',
 '6/29/20',
 '6/30/20',
 '7/1/20',
 '7/2/20',
 '7/3/20',
 '7/4/20',
 '7/5/20',
 '7/6/20',
 '7/7/20',
 '7/8/20',
 '7/9/20',
 '7/10/20',
 '7/11/20',
 '7/12/20',
 '7/13/20',
 '7/14/20',
 '7/15/20',
 '7/16/20',
 '7/17/20',
 '7/18/20',
 '7/19/20',
 '7/20/20',
 '7/21/20',
 '7/22/20',
 '7/23/20',
 '7/24/20',
 '7/25/20',
 '7/26/20',
 '7/27/20',
 '7/28/20',
 '7/29/20',
 '7/30/20',
 '7/31/20',
 '8/1/20',
 '8/2/20',
 '8/3/20',
 '8/4/20',
 '8/5/20',
 '8/6/20',
 '8/7/20',
 '8/8/20',
 '8/9/20',
 '8/10/20',
 '8/11/20',
 '8/12/20',
 '8/13/20',
 '8/14/20',
 '8/15/20',
 '8/16/20',
 '8/17/20',
 '8/18/20',
 '8/19/20',
 '8/20/20',
 '8/21/20',
 '8/22/20',
 '8/23/20',
 '8/24/20',
 '8/25/20',
 '8/26/20',
 '8/27/20',
 '8/28/20',
 '8/29/20',
 '8/30/20',
 '8/31/20',
 '9/1/20',
 '9/2/20',
 '9/3/20',
 '9/4/20',
 '9/5/20',
 '9/6/20',
 '9/7/20',
 '9/8/20',
 '9/9/20',
 '9/10/20',
 '9/11/20',
 '9/12/20',
 '9/13/20',
 '9/14/20',
 '9/15/20',
 '9/16/20',
 '9/17/20',
 '9/18/20',
 '9/19/20',
 '9/20/20',
 '9/21/20',
 '9/22/20',
 '9/23/20',
 '9/24/20',
 '9/25/20',
 '9/26/20',
 '9/27/20',
 '9/28/20',
 '9/29/20',
 '9/30/20',
 '10/1/20',
 '10/2/20',
 '10/3/20',
 '10/4/20',
 '10/5/20',
 '10/6/20',
 '10/7/20',
 '10/8/20',
 '10/9/20',
 '10/10/20',
 '10/11/20',
 '10/12/20',
 '10/13/20',
 '10/14/20',
 '10/15/20',
 '10/16/20',
 '10/17/20',
 '10/18/20',
 '10/19/20',
 '10/20/20',
 '10/21/20',
 '10/22/20',
 '10/23/20',
 '10/24/20',
 '10/25/20',
 '10/26/20',
 '10/27/20',
 '10/28/20',
 '10/29/20',
 '10/30/20',
 '10/31/20',
 '11/1/20',
 '11/2/20',
 '11/3/20',
 '11/4/20',
 '11/5/20',
 '11/6/20',
 '11/7/20',
 '11/8/20',
 '11/9/20',
 '11/10/20',
 '11/11/20',
 '11/12/20',
 '11/13/20',
 '11/14/20',
 '11/15/20',
 '11/16/20',
 '11/17/20',
 '11/18/20',
 '11/19/20',
 '11/20/20',
 '11/21/20',
 '11/22/20',
 '11/23/20',
 '11/24/20',
 '11/25/20',
 '11/26/20',
 '11/27/20',
 '11/28/20',
 '11/29/20',
 '11/30/20',
 '12/1/20',
 '12/2/20',
 '12/3/20',
 '12/4/20',
 '12/5/20',
 '12/6/20',
 '12/7/20',
 '12/8/20',
 '12/9/20',
 '12/10/20',
 '12/11/20',
 '12/12/20',
 '12/13/20',
 '12/14/20',
 '12/15/20',
 '12/16/20',
 '12/17/20',
 '12/18/20',
 '12/19/20',
 '12/20/20',
 '12/21/20',
 '12/22/20',
 '12/23/20',
 '12/24/20',
 '12/25/20',
 '12/26/20',
 '12/27/20',
 '12/28/20',
 '12/29/20',
 '12/30/20',
 '12/31/20',
 '1/1/21',
 '1/2/21',
 '1/3/21',
 '1/4/21',
 '1/5/21',
 '1/6/21',
 '1/7/21',
 '1/8/21',
 '1/9/21',
 '1/10/21',
 '1/11/21',
 '1/12/21',
 '1/13/21',
 '1/14/21',
 '1/15/21',
 '1/16/21',
 '1/17/21',
 '1/18/21',
 '1/19/21',
 '1/20/21',
 '1/21/21',
 '1/22/21',
 '1/23/21',
 '1/24/21',
 '1/25/21',
 '1/26/21',
 '1/27/21',
 '1/28/21',
 '1/29/21',
 '1/30/21',
 '1/31/21',
 '2/1/21',
 '2/2/21',
 '2/3/21',
 '2/4/21',
 '2/5/21',
 '2/6/21',
 '2/7/21',
 '2/8/21',
 '2/9/21',
 '2/10/21',
 '2/11/21',
 '2/12/21',
 '2/13/21',
 '2/14/21',
 '2/15/21',
 '2/16/21',
 '2/17/21',
 '2/18/21',
 '2/19/21',
 '2/20/21',
 '2/21/21',
 '2/22/21',
 '2/23/21',
 '2/24/21',
 '2/25/21',
 '2/26/21',
 '2/27/21',
 '2/28/21',
 '3/1/21',
 '3/2/21',
 '3/3/21',
 '3/4/21',
 '3/5/21',
 '3/6/21',
 '3/7/21',
 '3/8/21',
 '3/9/21',
 '3/10/21',
 '3/11/21',
 '3/12/21',
 '3/13/21',
 '3/14/21',
 '3/15/21',
 '3/16/21',
 '3/17/21',
 '3/18/21',
 '3/19/21',
 '3/20/21',
 '3/21/21',
 '3/22/21',
 '3/23/21',
 '3/24/21',
 '3/25/21',
 '3/26/21',
 '3/27/21',
 '3/28/21',
 '3/29/21',
 '3/30/21',
 '3/31/21',
 '4/1/21',
 '4/2/21',
 '4/3/21',
 '4/4/21',
 '4/5/21',
 '4/6/21',
 '4/7/21',
 '4/8/21',
 '4/9/21',
 '4/10/21',
 '4/11/21',
 '4/12/21',
 '4/13/21',
 '4/14/21',
 '4/15/21',
 '4/16/21',
 '4/17/21',
 '4/18/21',
 '4/19/21',
 '4/20/21',
 '4/21/21',
 '4/22/21',
 '4/23/21',
 '4/24/21',
 '4/25/21',
 '4/26/21',
 '4/27/21',
 '4/28/21',
 '4/29/21',
 '4/30/21',
 '5/1/21',
 '5/2/21',
 '5/3/21',
 '5/4/21',
 '5/5/21',
 '5/6/21',
 '5/7/21',
 '5/8/21',
 '5/9/21',
 '5/10/21',
 '5/11/21',
 '5/12/21',
 '5/13/21',
 '5/14/21',
 '5/15/21',
 '5/16/21',
 '5/17/21',
 '5/18/21',
 '5/19/21',
 '5/20/21',
 '5/21/21',
 '5/22/21',
 '5/23/21',
 '5/24/21',
 '5/25/21',
 '5/26/21',
 '5/27/21',
 '5/28/21',
 '5/29/21',
 '5/30/21',
 '5/31/21',
 '6/1/21',
 '6/2/21',
 '6/3/21',
 '6/4/21',
 '6/5/21',
 '6/6/21',
 '6/7/21',
 '6/8/21',
 '6/9/21',
 '6/10/21',
 '6/11/21',
 '6/12/21',
 '6/13/21',
 '6/14/21',
 '6/15/21',
 '6/16/21',
 '6/17/21',
 '6/18/21',
 '6/19/21',
 '6/20/21',
 '6/21/21',
 '6/22/21',
 '6/23/21',
 '6/24/21',
 '6/25/21']

In [32]:
new_dates = []
for date in wanted_dates:
    if date in covid_dates:
        print(date)