In [5]:
import numpy as np
import pandas as pd
import folium
from folium.plugins import HeatMap
import pandas as pd
from argparse import ArgumentParser
from tqdm import tqdm

In [23]:
chl_df = pd.read_csv('chl.csv')
chl_df["Time"] = pd.to_datetime(chl_df['Time'])
geometry = [list(map(float, x.split(','))) for x in chl_df.AOI]
lat = pd.Series([x[0] for x in geometry])
lon = pd.Series([x[1] for x in geometry])
chl_df['latitude'] = lat
chl_df['longitude'] = lon
chl_df['latitude']=pd.to_numeric(chl_df['latitude'])
chl_df['longitude']=pd.to_numeric(chl_df['longitude'])
chl_df['Measurement Value']=pd.to_numeric(chl_df['Measurement Value'])
chl_df = chl_df[chl_df['Measurement Value'].notna()]
chl_df.rename(columns = {'Measurement Value':'Chl_concentration'}, inplace = True)
chl_df = chl_df.loc[chl_df['City'] == "Tokyo, Chl-a"]
chl_df = chl_df[['Time', 'Country', 'Region', 'Chl_concentration', 'latitude', 'longitude']]

In [24]:
chl_df

          Time Country     Region  Chl_concentration  latitude  longitude
238 2019-01-05      JP  Tokyo Bay              17.62     35.55      139.9
239 2019-01-12      JP  Tokyo Bay             -17.19     35.55      139.9
240 2019-01-19      JP  Tokyo Bay              69.90     35.55      139.9
241 2019-01-26      JP  Tokyo Bay             115.04     35.55      139.9
242 2019-02-02      JP  Tokyo Bay              37.20     35.55      139.9
..         ...     ...        ...                ...       ...        ...
327 2021-04-17      JP  Tokyo Bay              58.26     35.55      139.9
328 2021-04-24      JP  Tokyo Bay             134.06     35.55      139.9
329 2021-05-01      JP  Tokyo Bay              50.83     35.55      139.9
330 2021-05-08      JP  Tokyo Bay             -32.19     35.55      139.9
331 2021-05-29      JP  Tokyo Bay             -33.31     35.55      139.9

[94 rows x 6 columns]

In [29]:
venice_chl_df = chl_df.loc[chl_df['Country'] == "JP"]
venice_chl_df = venice_chl_df.reset_index(drop=True)
venice_chl_df

         Time Country     Region  Chl_concentration  latitude  longitude
0  2019-01-05      JP  Tokyo Bay              17.62     35.55      139.9
1  2019-01-12      JP  Tokyo Bay             -17.19     35.55      139.9
2  2019-01-19      JP  Tokyo Bay              69.90     35.55      139.9
3  2019-01-26      JP  Tokyo Bay             115.04     35.55      139.9
4  2019-02-02      JP  Tokyo Bay              37.20     35.55      139.9
..        ...     ...        ...                ...       ...        ...
89 2021-04-17      JP  Tokyo Bay              58.26     35.55      139.9
90 2021-04-24      JP  Tokyo Bay             134.06     35.55      139.9
91 2021-05-01      JP  Tokyo Bay              50.83     35.55      139.9
92 2021-05-08      JP  Tokyo Bay             -32.19     35.55      139.9
93 2021-05-29      JP  Tokyo Bay             -33.31     35.55      139.9

[94 rows x 6 columns]

In [32]:
new_df = venice_chl_df[venice_chl_df['Chl_concentration'] == min(venice_chl_df['Chl_concentration'])]
new_df

         Time Country     Region  Chl_concentration  latitude  longitude
61 2020-08-22      JP  Tokyo Bay              -87.3     35.55      139.9

In [31]:
new_df = venice_chl_df[venice_chl_df['Chl_concentration'] == max(venice_chl_df['Chl_concentration'])]
new_df

         Time Country     Region  Chl_concentration  latitude  longitude
32 2019-11-09      JP  Tokyo Bay             265.03     35.55      139.9

In [30]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(venice_chl_df)

         Time Country     Region  Chl_concentration  latitude  longitude
0  2019-01-05      JP  Tokyo Bay              17.62     35.55      139.9
1  2019-01-12      JP  Tokyo Bay             -17.19     35.55      139.9
2  2019-01-19      JP  Tokyo Bay              69.90     35.55      139.9
3  2019-01-26      JP  Tokyo Bay             115.04     35.55      139.9
4  2019-02-02      JP  Tokyo Bay              37.20     35.55      139.9
5  2019-02-16      JP  Tokyo Bay              27.23     35.55      139.9
6  2019-03-02      JP  Tokyo Bay             -31.24     35.55      139.9
7  2019-03-09      JP  Tokyo Bay             -42.14     35.55      139.9
8  2019-03-16      JP  Tokyo Bay             -10.36     35.55      139.9
9  2019-03-23      JP  Tokyo Bay              11.47     35.55      139.9
10 2019-03-30      JP  Tokyo Bay             -45.83     35.55      139.9
11 2019-04-06      JP  Tokyo Bay             -11.33     35.55      139.9
12 2019-04-13      JP  Tokyo Bay             -11.77     35.55      139.9
13 2019-05-11      JP  Tokyo Bay              41.44     35.55      139.9
14 2019-05-18      JP  Tokyo Bay              32.16     35.55      139.9
15 2019-05-25      JP  Tokyo Bay              95.58     35.55      139.9
16 2019-06-01      JP  Tokyo Bay             -31.90     35.55      139.9
17 2019-06-15      JP  Tokyo Bay              24.83     35.55      139.9
18 2019-06-22      JP  Tokyo Bay              -1.56     35.55      139.9
19 2019-07-27      JP  Tokyo Bay             -82.99     35.55      139.9
20 2019-08-03      JP  Tokyo Bay             125.89     35.55      139.9
21 2019-08-10      JP  Tokyo Bay             -23.77     35.55      139.9
22 2019-08-17      JP  Tokyo Bay              -7.44     35.55      139.9
23 2019-08-24      JP  Tokyo Bay              12.63     35.55      139.9
24 2019-08-31      JP  Tokyo Bay             -51.45     35.55      139.9
25 2019-09-07      JP  Tokyo Bay             105.93     35.55      139.9
26 2019-09-14      JP  Tokyo Bay             -55.35     35.55      139.9
27 2019-09-28      JP  Tokyo Bay              49.79     35.55      139.9
28 2019-10-05      JP  Tokyo Bay             -63.22     35.55      139.9
29 2019-10-12      JP  Tokyo Bay              16.60     35.55      139.9
30 2019-10-26      JP  Tokyo Bay             -15.33     35.55      139.9
31 2019-11-02      JP  Tokyo Bay              -8.03     35.55      139.9
32 2019-11-09      JP  Tokyo Bay             265.03     35.55      139.9
33 2019-11-16      JP  Tokyo Bay             -43.63     35.55      139.9
34 2019-11-23      JP  Tokyo Bay             -31.81     35.55      139.9
35 2019-11-30      JP  Tokyo Bay             -29.28     35.55      139.9
36 2019-12-14      JP  Tokyo Bay             -41.94     35.55      139.9
37 2019-12-21      JP  Tokyo Bay             -31.32     35.55      139.9
38 2019-12-28      JP  Tokyo Bay             -67.57     35.55      139.9
39 2020-01-04      JP  Tokyo Bay             -28.20     35.55      139.9
40 2020-01-11      JP  Tokyo Bay             -59.80     35.55      139.9
41 2020-01-18      JP  Tokyo Bay             -57.37     35.55      139.9
42 2020-02-01      JP  Tokyo Bay             -46.31     35.55      139.9
43 2020-02-08      JP  Tokyo Bay              21.82     35.55      139.9
44 2020-02-22      JP  Tokyo Bay             -30.45     35.55      139.9
45 2020-02-29      JP  Tokyo Bay             103.08     35.55      139.9
46 2020-03-07      JP  Tokyo Bay              95.59     35.55      139.9
47 2020-03-21      JP  Tokyo Bay              29.02     35.55      139.9
48 2020-03-28      JP  Tokyo Bay              95.93     35.55      139.9
49 2020-04-04      JP  Tokyo Bay              20.87     35.55      139.9
50 2020-04-11      JP  Tokyo Bay              87.63     35.55      139.9
51 2020-04-18      JP  Tokyo Bay              -8.65     35.55      139.9
52 2020-05-02      JP  Tokyo Bay             -26.48     35.55      139.9
53 2020-05-09      JP  Tokyo Bay             -63.96     35.55      139.9
54 2020-05-16      JP  Tokyo Bay              68.18     35.55      139.9
55 2020-06-06      JP  Tokyo Bay             -25.35     35.55      139.9
56 2020-06-13      JP  Tokyo Bay              78.69     35.55      139.9
57 2020-07-25      JP  Tokyo Bay               0.61     35.55      139.9
58 2020-08-01      JP  Tokyo Bay             138.10     35.55      139.9
59 2020-08-08      JP  Tokyo Bay              -6.96     35.55      139.9
60 2020-08-15      JP  Tokyo Bay             -25.12     35.55      139.9
61 2020-08-22      JP  Tokyo Bay             -87.30     35.55      139.9
62 2020-08-29      JP  Tokyo Bay              38.85     35.55      139.9
63 2020-10-03      JP  Tokyo Bay             168.12     35.55      139.9
64 2020-10-24      JP  Tokyo Bay             -50.88     35.55      139.9
65 2020-10-31      JP  Tokyo Bay             -62.28     35.55      139.9
66 2020-11-07      JP  Tokyo Bay               4.35     35.55      139.9
67 2020-11-14      JP  Tokyo Bay             -37.24     35.55      139.9
68 2020-11-21      JP  Tokyo Bay              46.62     35.55      139.9
69 2020-11-28      JP  Tokyo Bay             -55.56     35.55      139.9
70 2020-12-05      JP  Tokyo Bay              14.03     35.55      139.9
71 2020-12-12      JP  Tokyo Bay              69.67     35.55      139.9
72 2020-12-19      JP  Tokyo Bay              79.63     35.55      139.9
73 2020-12-26      JP  Tokyo Bay             141.99     35.55      139.9
74 2021-01-02      JP  Tokyo Bay              21.55     35.55      139.9
75 2021-01-09      JP  Tokyo Bay             110.69     35.55      139.9
76 2021-01-16      JP  Tokyo Bay               9.79     35.55      139.9
77 2021-01-23      JP  Tokyo Bay             -34.90     35.55      139.9
78 2021-01-30      JP  Tokyo Bay              -3.00     35.55      139.9
79 2021-02-06      JP  Tokyo Bay              95.66     35.55      139.9
80 2021-02-13      JP  Tokyo Bay              38.41     35.55      139.9
81 2021-02-20      JP  Tokyo Bay             -43.59     35.55      139.9
82 2021-02-27      JP  Tokyo Bay              18.63     35.55      139.9
83 2021-03-06      JP  Tokyo Bay              83.74     35.55      139.9
84 2021-03-13      JP  Tokyo Bay              39.43     35.55      139.9
85 2021-03-20      JP  Tokyo Bay             129.56     35.55      139.9
86 2021-03-27      JP  Tokyo Bay              -3.88     35.55      139.9
87 2021-04-03      JP  Tokyo Bay             -10.21     35.55      139.9
88 2021-04-10      JP  Tokyo Bay              58.25     35.55      139.9
89 2021-04-17      JP  Tokyo Bay              58.26     35.55      139.9
90 2021-04-24      JP  Tokyo Bay             134.06     35.55      139.9
91 2021-05-01      JP  Tokyo Bay              50.83     35.55      139.9
92 2021-05-08      JP  Tokyo Bay             -32.19     35.55      139.9
93 2021-05-29      JP  Tokyo Bay             -33.31     35.55      139.9